body{background-color:#eee;margin:0;padding:0}
.banner{}
.banner-menu{clear:both}
.banner-title{text-align:left;font-size:20pt;font-weight:bold;margin:.2em}
.package-selector{background-color:#ddd;border:1px solid black;color:#369}
